<nav class="navbar">

    <ul class="navbar-list">

        <li class="navbar-item">
            <NavLink class="navbar-link" href="" Match="NavLinkMatch.All">About</NavLink>
        </li>

        <li class="navbar-item">
            <NavLink class="navbar-link" href="resume">Resume</NavLink>
        </li>

        <li class="navbar-item">
            <NavLink class="navbar-link" href="portfolio">Portfolio</NavLink>
        </li>

        <li class="navbar-item">
            <NavLink class="navbar-link" href="blog">Blog</NavLink>
        </li>

        <li class="navbar-item">
            <NavLink class="navbar-link" href="contact">Contact</NavLink>
        </li>

    </ul>

</nav>